h1,
h2 {
    text-decoration: underline;
}

.redstone {

    background-image: linear-gradient(135deg, #ec8f7f 10%, #EA5455 100%);
    background-clip: text;
    background-clip: text-decoration;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


.welcome {
    font-size: 1rem;
}

@media screen and (max-width: 500px) {

    .welcome {
        display: none;
    }

    .writing {
        display: none;
    }
}