---
import Head from '../components/Head.astro';
import Header from '../components/Header.astro';
import '../../public/home.css';
import { PlaneHelper } from 'three';

// It's getting all the pages in the pages folder and filtering out the ones that have draft set to true in the frontmatter
const pages = (await Astro.glob('../pages/*.mdx')).filter(
	page => !page.frontmatter.draft,
);
let categories: string[] = [];


// It's getting all the categories from the pages and putting them in an array
pages.forEach(page => {
	const category = page.frontmatter.category
	if (categories.includes(category)) return
	categories.push(category)
})

---

<html lang='en'>
	<Head title={'Redstone Wiki'} />
	<body>
		<Header />
		<main>
			<h1>The <span class="redstone">Redstone</span> Wiki</h1>
			<p>Welcome to the <span class="redstone">redstone</span> wiki, here you can find all sorts of <span class="redstone" >guides, informational pages and project ideas</span> all in one place</p>
			<p>I'm not the most knowledgeable in redstone which is why I designed this website <span class="redstone">with writers in mind</span>, you get easy writing with neat components for you to use, <br />need to supply a download? Dont use a ugly link, use the download component to make a neat looking download button <a href="/writing">view this page for more info</a></p>
			{categories.map(category => (
				<h2>{category}</h2>
				<ul>
					{pages.filter(page => (page.frontmatter.category === category)).map(page => <li><p><a href={page.url}>{page.frontmatter.title}</a></p> <p class="description">{page.frontmatter.description}</p></li>)}	
				</ul>
			)
			)}
		</main>
	</body>
</html>
