---
const { url, display_name } = Astro.props;
// @ts-ignore
import Download from '@astropub/icons/Download';
---

<div class='download'>
	<a href={url}>
		{display_name}
		<Download size={'25'} fill={'rgb(105, 105, 245)'} />
	</a>
	<span class='description'>{url}</span>
</div>
